<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/indexnavbar.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href=""><img src="./IMAGE/logo.png" width="300px" height="45px" alt="abc"></a>
            </div>
            <div>
                <ul>
                    <li><a class="anchor" href="/">Home</a></li>
                    <li><a class="anchor" href="/project">Project</a></li>
                    <li><a class="anchor" href="/contact">Contact</a></li>
                    <li><a class="anchor" href="/login"><button>Login</button> </a></li>
                    <li><a class="anchor" href="/signup"><button>Signup</button> </a></li> 
                </ul> 
            </div>
        </nav>
    </header>


    <main>
        <h1 style="text-align: center; font-size: 25px; margin-top: 50px;">Contact Page</h1>
    </main>

</body>
</html>